@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-image: url('/assets/space-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

@layer utilities {
  .fade-in {
    animation: fadeIn 2s ease-in forwards;
  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}
